body {
    font-family: Roboto, sans-serif;
}

header, h1 {
    background-color: cornflowerblue;
    color: #fff;
}


.nav li a,
.nav-link,
.nav-link:hover,
.bi
{
    color: #050202;
    list-style: none;
    text-decoration: none;
}

.nav .nav-link.active:hover {
    color: black;
}

.navbar {
    background-color: cornflowerblue;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: cornflowerblue;
}
.section-title {
    font-family: Pacifico, cursive;
}

.text-colored {
    color: cornflowerblue;
}

.carousel-item img {
    width: 100%;
    height: 980px;
}

#eletronicos {
    background-color: rgb(210, 226, 253);
}

.nav-produtos .nav-link.active {
    background-color: cornflowerblue;
    color: black;
}

.nav-produtos .nav-link:hover {
    color: cornflowerblue;
}


.social-links li {
    list-style: none;
    display: inline;
}

.social-links li a {
    text-decoration: none;
}

#fale-conosco button {
    background-color: cornflowerblue;
    color: white;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}
